<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="maximum-scale=1,width=device-width,initial-scale=0.7,user-scalable=yes,maximum-scale=1.0, minimum-scale=0.5">
  <meta name="robots" content="noarchive">
  <meta name="renderer" content="webkit">
  <meta name=”referrer” content=”origin”>
  <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-eval' 'unsafe-inline' data:;object-src 'none'; media-src 'none'; frame-src 'none';">-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="format-detection" content="telephone=no,email=no">
  <meta name="application-name" content="商户后台">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="商户后台">
  <meta name="msapplication-tooltip" content="商户后台">
  <meta name="msapplication-tilecolor" content="#0088ff">
  <meta name="theme-color" content="#fff">
  <!--server_meta_injection-->
  <style>
    html, body, #root {
      height: 100%;
    }
    body {
      margin: 0;
      padding: 0;
      font-size: 14px;
      color: #2d2f33;
      font-family: 'Segoe UI', SegoeUI, 'Microsoft YaHei', 微软雅黑, "Helvetica Neue", Helvetica, Arial, sans-serif;;
    }
    a, a:hover {
      text-decoration: none;
    }
  </style>
  <style>/*server_css_injection*/</style>
  <!--[if lt IE 10]>
    <div style="width: 100%; height: 100%; background-color: rgba(204,204,204,1); z-index: 999; text-align: center; position: fixed; padding-top:10%;">
      <image src="/assets/image/compatible-guidance.jpg" style="width: 55%;"></image>
    </div>
  <![endif]-->
</head>
<body>
  <script type="application/javascript"><%= htmlWebpackPlugin.options.headerEmbedJs %></script>
  <script type="application/javascript">'server_js_injection'</script>
  <div id="root"><router-view></router-view></div>
  <noscript>
    <p>你的浏览器不支持当前版本。</p>
  </noscript>
  <!--server_body_injection-->
</body>
</html>
